@{
    ViewData["Title"] = "Home Page";
}

<!--======= BANNER =========-->
<section class="great-deals">
    <div class="container">
        <!--======= TITTLE =========-->
        <div class="tittle text-center">
            <h3>Great Deals, Voucher and Ticket </h3>
        </div>
        <div class="coupon">
            <ul class="row">

                <!--======= COUPEN DEALS =========-->
                <li class="col-sm-4">
                    <div class="coupon-inner">
                        <div class="top-tag"> <span class="ribn-red"><span>Voucher</span></span> <span class="star"><i class="fa fa-star-o"></i></span> </div>
                        <div class="c-img">
                            <img class="img-responsive" src="~/images/hero-2-img.jpg" alt=""> <a class="head" href="#.">Flat 40% off Hotel Bookings In 10 Cities  Near you</a>
                            <p>Experies On : Jan 17,  2021</p>
                        </div>
                        <ul class="btm-info">
                            <li class="col-xs-4"><a href="#."> <i class="fa fa-check-square-o"></i> Verified</a></li>
                            <li class="col-xs-3"><a href="#."> <i class="fa fa-bookmark"></i> Save</a></li>
                            <li class="col-xs-2"><a href="#."> <i class="fa fa-share"></i> Share</a></li>
                            <li class="col-xs-3"><a href="#."> <i class="fa fa-comments"></i> Discuss</a></li>
                        </ul>
                    </div>
                </li>

                <!--======= COUPEN DEALS =========-->
                <li class="col-sm-4">
                    <div class="coupon-inner">
                        <div class="top-tag"> <span class="ribn-red"><span>Flight</span></span> <span class="star"><i class="fa fa-star-o"></i></span> </div>
                        <div class="c-img">
                            <img class="img-responsive" src="~/images/hero-2-img.jpg" alt=""> <a class="head" href="#.">Flat 40% off Hotel Bookings In 10 Cities  Near you</a>
                            <p>Experies On : Jan 17,  2021</p>
                        </div>
                        <ul class="btm-info">
                            <li class="col-xs-4"><a href="#."> <i class="fa fa-check-square-o"></i> Verified</a></li>
                            <li class="col-xs-3"><a href="#."> <i class="fa fa-bookmark"></i> Save</a></li>
                            <li class="col-xs-2"><a href="#."> <i class="fa fa-share"></i> Share</a></li>
                            <li class="col-xs-3"><a href="#."> <i class="fa fa-comments"></i> Discuss</a></li>
                        </ul>
                    </div>
                </li>

                <!--======= COUPEN DEALS =========-->
                <li class="col-sm-4">
                    <div class="coupon-inner">
                        <div class="top-tag"> <span class="ribn-pur"><span>Bus</span></span> <span class="star"><i class="fa fa-star-o"></i></span> </div>
                        <div class="c-img">
                            <img class="img-responsive" src="~/images/hero-2-img.jpg" alt=""> <a class="head" href="#.">Flat 40% off Hotel Bookings In 10 Cities  Near you</a>
                            <p>Experies On : Jan 17,  2021</p>
                        </div>
                        <ul class="btm-info">
                            <li class="col-xs-4"><a href="#."> <i class="fa fa-check-square-o"></i> Verified</a></li>
                            <li class="col-xs-3"><a href="#."> <i class="fa fa-bookmark"></i> Save</a></li>
                            <li class="col-xs-2"><a href="#."> <i class="fa fa-share"></i> Share</a></li>
                            <li class="col-xs-3"><a href="#."> <i class="fa fa-comments"></i> Discuss</a></li>
                        </ul>
                    </div>
                </li>

                <!--======= COUPEN DEALS =========-->
                <li class="col-sm-4">
                    <div class="coupon-inner">
                        <div class="top-tag"> <span class="ribn-pur"><span>Train</span></span> <span class="star"><i class="fa fa-star-o"></i></span> </div>
                        <div class="c-img">
                            <img class="img-responsive" src="~/images/hero-2-img.jpg" alt=""> <a class="head" href="#.">Flat 40% off Hotel Bookings In 10 Cities  Near you</a>
                            <p>Experies On : Jan 17,  2021</p>
                        </div>
                        <ul class="btm-info">
                            <li class="col-xs-4"><a href="#."> <i class="fa fa-check-square-o"></i> Verified</a></li>
                            <li class="col-xs-3"><a href="#."> <i class="fa fa-bookmark"></i> Save</a></li>
                            <li class="col-xs-2"><a href="#."> <i class="fa fa-share"></i> Share</a></li>
                            <li class="col-xs-3"><a href="#."> <i class="fa fa-comments"></i> Discuss</a></li>
                        </ul>
                    </div>
                </li>

                <!--======= COUPEN DEALS =========-->
                <li class="col-sm-4">
                    <div class="coupon-inner">
                        <div class="top-tag"> <span class="ribn-red"><span>Event</span></span> <span class="star"><i class="fa fa-star-o"></i></span> </div>
                        <div class="c-img">
                            <img class="img-responsive" src="~/images/hero-2-img.jpg" alt=""> <a class="head" href="#.">Flat 40% off Hotel Bookings In 10 Cities  Near you</a>
                            <p>Experies On : Jan 17,  2021</p>
                        </div>
                        <ul class="btm-info">
                            <li class="col-xs-4"><a href="#."> <i class="fa fa-check-square-o"></i> Verified</a></li>
                            <li class="col-xs-3"><a href="#."> <i class="fa fa-bookmark"></i> Save</a></li>
                            <li class="col-xs-2"><a href="#."> <i class="fa fa-share"></i> Share</a></li>
                            <li class="col-xs-3"><a href="#."> <i class="fa fa-comments"></i> Discuss</a></li>
                        </ul>
                    </div>
                </li>

                <!--======= COUPEN DEALS =========-->
                <li class="col-sm-4">
                    <div class="coupon-inner">
                        <div class="top-tag"> <span class="ribn-pur"><span>coupon</span></span> <span class="star"><i class="fa fa-star-o"></i></span> </div>
                        <div class="c-img">
                            <img class="img-responsive" src="~/images/hero-2-img.jpg" alt=""> <a class="head" href="#.">Flat 40% off Hotel Bookings In 10 Cities  Near you</a>
                            <p>Experies On : Jan 17, 2021</p>
                        </div>
                        <ul class="btm-info">
                            <li class="col-xs-4"><a href="#."> <i class="fa fa-check-square-o"></i> Verified</a></li>
                            <li class="col-xs-3"><a href="#."> <i class="fa fa-bookmark"></i> Save</a></li>
                            <li class="col-xs-2"><a href="#."> <i class="fa fa-share"></i> Share</a></li>
                            <li class="col-xs-3"><a href="#."> <i class="fa fa-comments"></i> Discuss</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!--  Latest Events  -->
<section class="section-upcoming-events">
    <div class="container">
        <div class="section-header">
            <h2>Latest Events</h2>
            <a href="#">See all events</a>
        </div>
        <div class="section-content">
            <ul class="clearfix">
                <li>
                    <article>
                        <div class="date"> <a href="#"> <span class="day">25</span> <span class="month">August</span> <span class="year">2016</span> </a> </div>
                        <a href="#"> <img src="~/images/upcoming-event-1.jpg" alt="image"> </a>
                        <div class="info">
                            <p>BMW Open Championship <span>San Francisco</span></p>
                            <a href="#" class="get-ticket">Get Ticket</a>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <div class="date"> <a href="#"> <span class="day">26</span> <span class="month">August</span> <span class="year">2016</span> </a> </div>
                        <a href="#"> <img src="~/images/upcoming-event-2.jpg" alt="image"> </a>
                        <div class="info">
                            <p>Kiai Kanjeng Orchestra <span>San Francisco</span></p>
                            <a href="#" class="get-ticket">Get Ticket</a>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <div class="date"> <a href="#"> <span class="day">27</span> <span class="month">August</span> <span class="year">2016</span> </a> </div>
                        <a href="#"> <img src="~/images/upcoming-event-3.jpg" alt="image"> </a>
                        <div class="info">
                            <p>Envato Author SF Meetup <span>San Francisco</span></p>
                            <a href="#" class="get-ticket">Get Ticket</a>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Event Categories -->
<section class="events-by-cate">
    <div class="container">

        <!--======= TITTLE =========-->
        <div class="tittle text-center">
            <h3>Event Categories </h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <article> <a href="#."><i class="flaticon-festival"></i> <span>Concerts</span></a> </article>
            </div>
            <div class="col-md-4">
                <article> <a href="#."><i class="flaticon-conference"></i> <span> Conference </span></a> </article>
            </div>
            <div class="col-md-4">
                <article> <a href="#."><i class="flaticon-calendar-3"></i> <span>Community Event</span> </a> </article>
            </div>
        </div>
    </div>
</section>
<!--  Upcoming Events  -->
<section class="section-upcoming-events">
    <div class="container">
        <div class="section-header">
            <h2>Upcoming Events</h2>
            <a href="#">See all upcoming events</a>
        </div>
        <div class="section-content">
            <ul class="clearfix">
                <li>
                    <article>
                        <div class="date"> <a href="#"> <span class="day">25</span> <span class="month">August</span> <span class="year">2016</span> </a> </div>
                        <a href="#"> <img src="~/images/upcoming-event-1.jpg" alt="image"> </a>
                        <div class="info">
                            <p>BMW Open Championship <span>San Francisco</span></p>
                            <a href="#" class="get-ticket">Get Ticket</a>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <div class="date"> <a href="#"> <span class="day">26</span> <span class="month">August</span> <span class="year">2016</span> </a> </div>
                        <a href="#"> <img src="~/images/upcoming-event-2.jpg" alt="image"> </a>
                        <div class="info">
                            <p>Kiai Kanjeng Orchestra <span>San Francisco</span></p>
                            <a href="#" class="get-ticket">Get Ticket</a>
                        </div>
                    </article>
                </li>
                <li>
                    <article>
                        <div class="date"> <a href="#"> <span class="day">27</span> <span class="month">August</span> <span class="year">2016</span> </a> </div>
                        <a href="#"> <img src="~/images/upcoming-event-3.jpg" alt="image"> </a>
                        <div class="info">
                            <p>Envato Author SF Meetup <span>San Francisco</span></p>
                            <a href="#" class="get-ticket">Get Ticket</a>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>
